@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Akshar', sans-serif;
}

@font-face {
    font-family: 'Permanent Marker', cursive;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
}